.cardContainer {
    background-color: #D9D9D9;

    width: 50.25rem;
    height: 15.68rem;

    border-radius: 1.56rem;

    margin-top: 2.06rem;

    display: flex;
    align-items: center;
    justify-content: center;
}

.profileImage {
    width: 13.75rem;
    height: 13.75rem;

    border-radius: 50%;

    border: 2px solid #005CFF;
}

.titleAndTextContainer {
    width: 28rem;
    height: 7.68rem;

    margin-left: 2rem;
}

.profileTitle {
    color: #005CFF;

    font-weight: 700;
    font-size: 1.25em;

    margin: 0;
}

.profileDescription {
    font-size: .87em;
    font-weight: 300;

    color: #000;
}

.cardError {
    background-color: '#eee';
    padding: '1.5rem';
    border-radius: '8px';
    margin-top: '2rem';
    max-width: '400px';
    margin-inline: 'auto';
}

.errorSubtitle {
    color: "#444";
}

.errorText {
    color: red;
}